<h3>展示数据绑定的效果</h3>

<hr />
<table>
  <caption>HTML属性绑定</caption>
  <thead>
    <tr>
      <th>header</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!-- colspan属性只能利用HTML属性进行绑定 -->
      <td [attr.colspan]="size">data</td>
      <td>data</td>
      <td>data</td>
      <td>data</td>
    </tr>
    <tr>
        <td>data</td>
        <td>data</td>
        <td>data</td>
        <td>data</td>
    </tr>
  </tbody>
</table>

<input type="text" [attr.value]="greeting" />

<hr>
<p>css类绑定</p>

<div class="a b c">
    这段文字是为了展示css类绑定
</div>
<p>全替换的例子</p>
<div [class]="divClass">
    这段文字是为了展示css类绑定
</div>
<p>增加或删减样式的例子</p>
<div class="a b" [class.c]="isBig">
    这段文字是为了展示是否增加某个类的css类绑定
</div>
<p>ngClass控制多个类的例子</p>
<div class="a b" [ngClass]="ngClass">
    这段文字是为了展示是否增加某个类的css类绑定
</div>
<p>样式绑定的例子</p>
<div [style.color]="isDev?'red':'blue'">
    这段文字是为了展示样式绑定
</div>
<p>样式绑定可以指定单位的例子</p>

<div [style.font-size.em]="isDev?3:1">
    样式绑定可以指定单位的例子
</div>

<p>ngStyle样式绑定可以指定多个的例子</p>

<div [ngStyle]="divStyle">
    ngStyle样式绑定可以指定多个的例子
</div>

<hr />

<!-- <input type="text" [ngModel]="model">{{model}} -->


<p>管道demo</p>

<p>生日是：{{birthday}}</p>
<p>使用了管道之后显示的生日是：{{birthday | date | uppercase}}</p>
<p>date管道指定参数之后显示的生日是：{{birthday | date:'yyyy-MM-dd HH:mm:ss' | uppercase}}</p>
<p>圆周率是{{pi}}</p>
<p>使用number管道后显示的圆周率是{{pi | number:'2.2-2'}}</p>
<p>使用number管道后显示的圆周率是{{pi | number:'2.1-4'}}</p>
<p>使用number管道后显示的圆周率是{{pi | number:'1.1-4'}}</p>
<p>使用自定义管道后显示的圆周率是{{pi | multiple:'2'}}</p>